@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="EMS" asp-action="Homepage" class="btn btn-primary">Show Employee Details</a>
    <a asp-controller="EMS" asp-action="Create" class="btn btn-primary">Add Employee Details</a>
</div>

