@model EMS.Models.DetailsModel



@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DetailsModel</h4>
<hr />
<style>
    .form-group {
        margin-bottom:10px;
    }
</style>
<form asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" ></span>
                @if (!string.IsNullOrEmpty(Convert.ToString(TempData["Email"])))
                {
                    <p style="color:red">@TempData["Email"]</p>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Convert.ToString(TempData["PhoneNumber"])))
                {
                    <p style="color:red">@TempData["PhoneNumber"]</p>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="pincode" class="control-label"></label>
                <input asp-for="pincode" class="form-control" />
                <span asp-validation-for="pincode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Homepage"><button class="btn btn-primary">Back to List</button></a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @*<script>
        $(function () {
            $.validator.addMethod("emailcheck", function (value, element, params) {
                var url = $(element).data("url");
                var id = $(element).data("val-emailcheck-id");
                var isValid = false;
                $.ajax({
                    url: url,
                    type: "POST",
                    async: false,
                    data: { Email: value, id: id },
                    success: function (response) {
                        isValid = response;
                    }
                });
                return isValid;
            });

            $.validator.unobtrusive.adapters.add("emailcheck", ["id"], function (options) {
                options.rules["emailcheck"] = { id: options.params.id };
                options.messages["emailcheck"] = options.message;
            });
        });
    </script>*@
}
